/*******************************
            Global
*******************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}


header {
	height: 400px;
	background: url(/assets/img/bg.jpg) 50% 0 no-repeat fixed;;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: fixed;
	overflow: hidden;
	-webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
	box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
	text-align: center;
	color: white;
}

.site-title {
	margin-top: 75px;
}

.page-wrappper {
	height: 100%;
	padding-left: 0;
}

.top-row {
	margin-right: 0;
}

.jumbotron {
	background: #f8f8f8;
}

/******************
	Menus
******************/

.main-menu-wrapper {
	padding-right: 0;
}

.main.menu {
	background: #385050;
}

.menu.stuck {
	margin-top: 0 !important;
	z-index: 999;
	position: fixed;
	height: 100%;
	border-right: 2px solid #2D4141;
}

.main.menu li > a {
	color: #8DA2A2;
}

.main.menu li > a:hover {
	background: #2F4747;
}

.main.menu li.menu-header {
	background: #2F4747;
	padding: 10px;
	border-bottom: 2px solid #2D4141;
}
	.main.menu li.menu-header a {
		color: #fff;
		font-size: 1.2em;
	}

.side-menu-wrapper {
	padding: 0;
}
.side.menu {
	border-right: 2px solid #ddd;
	padding-top: 50px;
	padding-left: 10px;
	background: #fff;
}
	.side.menu li {
		padding: 2px 0 2px 2px;
	}
	.side.menu li:hover, .side.menu li.active {
		padding: 0;
		background: #f8f8f8;
		border-top: 2px solid #ddd;
		border-left: 2px solid #ddd;
		border-bottom: 2px solid #ddd;
		margin-right: -2px;
	}

	.side.menu>li>a:focus, .side.menu>li>a:hover {
		background-color: #f8f8f8;
	}

		.side.menu li > a {
			color: #385050;
		}

@media (min-width: 768px) {
	.main.menu.stuck {
		width: 25%;
	}
}
@media (min-width: 992px) {
	.main.menu.stuck {
		width: 16.66666667%;
	}
}


.navbar-default {
}

/******************
	Code
******************/

pre {
	border: none;
	border-radius: 0px;
	background: #23241f;
	padding: 5px 20px;
}

/******************
	Pages
******************/
.page-wrapper {
	background: #f8f8f8;
	min-height: 1000px;
}
section {
	margin: 10px;
}
/******************
	Home
******************/
.home-wrapper {
}

.logo-header {
	padding-top: 0;
	padding-bottom: 0;
}

section.home {
	padding: 15px 30px;
	font-size: 1.4em;
	text-align: center;
}

section.home pre {
	border: 5px solid #ddd;
	max-width: 800px;
	margin: 15px auto;
}
section.home code {
	text-align: left;
}

/******************
	Contributors
******************/

section.contributors {
	padding: 15px 30px;
}
.contributor {
	padding: 0;	
}
	.contributor a img.media-object {
		width: 80px;
		height: 80px;
	}

	.contributor-commits {
		font-style: italic;
		display: block;
	}

	.contributor-login {
		font-weight: 600;
		font-size: 1.3em;
		padding: 5px 0;
		display: block;
	}

	.contributor-url {

	}
	

/******************
	Docs Pages
******************/

.doc-page {
	margin-left: -2px;
}

section.doc {
	background: white;
	border: 2px solid #ddd;
	padding: 10px 20px;
}

	section.doc h2 {
		text-align: center;
		padding-bottom: 10px;
	}

/******************
	Coming Soon
******************/

.coming-soon {
	text-align: center;
}