<div class="jumbotron text-center">
	<h1>Docs</h1>
</div>
<div class="row">
	<div class="col-sm-4 col-md-3 col-lg-2">
		<div class="side-menu-wrapper">
			<ul class="nav nav-pills nav-stacked side menu stuck">
				<li ng-repeat="doc in docs">
					<a class="item" href="#{{ doc.id }}">
						{{ doc.title }}
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-8 col-md-9 col-lg-10 doc-page">
		<section id="{{ doc.id }}" class="doc" ng-repeat="doc in docs">
			<h2>{{ doc.title }}</h2>
			<div class="row" ng-repeat="block in doc.blocks">
				<div class="col-lg-6 text">
					<h3 ng-show="block.header != ''">{{ block.header }}</h3>
					<p ng-bind-html-unsafe="block.content"></p>
				</div>
				<div class="col-lg-6 code">
					<pre ng-show="block.code != ''">
						<code class="{{ block.code.lang }}">
							{{ block.code.content }}
						</code>
					</pre>
				</div>
			</div>
		</section>
	</div>
</div>